body {
  background-color: #f9eccf;
  font-family: sans-serif;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

.container {
  margin: 0 auto;
  padding-top: 50px;
}

.important {
  font-weight: normal;
  color: #ef8f7c;
}

.todo_list {
  max-width: 430px;
  display: block;
  margin: 0 auto 40px;
  background-color: #1BA39C;
  padding: 30px;
  border-radius: 10px;
  -webkit-box-shadow: 0 2px 10px 0 #074b83;
  box-shadow: 0 2px 10px 0 #074b83;
}

h1 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
  color: #fff;
  font-size: 30px;
}

.create_new_todo {
  text-align: center;
}

input[type=text] {
  width: 376px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  font-size: 14px;
}

button {
  margin-top: 10px;
  width: 40%;
  padding: 10px;
  cursor: pointer;
  border-radius: 30px;
  background-color: #f99e8b;
  border: 1px solid #f99e8b;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
}

.todo {
  padding-left: 0;
  color: #fff;
}

.todo li {
  padding: 1em;
  list-style-type: none;
}

.todo li:not(:last-child) {
  border-bottom: 1px solid #F19D8B;
}

input[type=checkbox] {
  opacity: 0;
  position: absolute;
}

input[type=checkbox],
label {
  display: inline-block;
  vertical-align: middle;
  margin: 5px;
  cursor: pointer;
}

input[type=checkbox]+label:before {
  content: '';
  background: #1BA39C;
  border-radius: 5px;
  border: 2px solid #ddd;
  display: inline-block;
  vertical-align: bottom;
  width: 10px;
  height: 10px;
  padding: 2px;
  margin-right: 10px;
  text-align: center;
}

input[type=checkbox]:checked+label:before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 5px;
  border: solid blue;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  border-radius: 0;
  margin: 0 15px 5px 5px;
}